<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <linkManager>
      <patch:attribute name="custom">custom</patch:attribute>
      <providers>
        <clear />
        <add name="custom"
					   type="HelixDemo1.Foundation.Links.ContextualLinkProvider, HelixDemo1.Foundation.Links"
					   addAspxExtension="false"
					   alwaysIncludeServerUrl="true"
					   encodeNames="true"
					   languageEmbedding="always"
					   languageLocation="filePath"
					   lowercaseUrls="true"
					   shortenUrls="true"
					   useDisplayName="false"
					   siteResolving="true" />
      </providers>
      <strategies />
    </linkManager>
  </sitecore>
</configuration>