<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sites>
      <site name="TradeSite" 
            rootPath="/sitecore/content/ConsumerSite" 
            startItem="Home"
            hostName="TradeSite.com" 
            targetHostName="TradeSite.com"
            virtualFolder="/" physicalFolder="/" domain="extranet" allowDebug="true" cacheHtml="true" htmlCacheSize="10MB" registryCacheSize="0" viewStateCacheSize="0" xslCacheSize="5MB" filteredItemsCacheSize="2MB"
            enablePreview="true" enableWebEdit="true" enableDebugger="true" disableClientData="true" database="web" />
    </sites>
    <linkManager>
      <strategies>
        <strategy name="products">
          <sites>
            <site name="TradeSite">TradeSite</site>
          </sites>
          <templates>
            <TradeSiteProductPage>{0BB6252F-EB77-4A2D-B65B-A0F99B299ECB}</TradeSiteProductPage>
          </templates>
        </strategy>
      </strategies>
    </linkManager>
  </sitecore>
</configuration>