<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <linkManager>
      <strategies>
        <strategy name="blog" type="HelixDemo1.Feature.Blog.BlogLinkStrategy,HelixDemo1.Feature.Blog" />
      </strategies>
    </linkManager>
  </sitecore>
</configuration>