 <?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <linkManager>
      <strategies>
        <strategy name="products" type="HelixDemo1.Feature.Products.ProductLinkStrategy,HelixDemo1.Feature.Products" />
      </strategies>
    </linkManager>
  </sitecore>
</configuration>