<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sites>
      <site name="ConsumerSite"
            rootPath="/sitecore/content/ConsumerSite"
            startItem="Home"
            hostName="ConsumerSite.com"
            targetHostName="ConsumerSite.com"
            virtualFolder="/" physicalFolder="/" domain="extranet" allowDebug="true" cacheHtml="true" htmlCacheSize="10MB" registryCacheSize="0" viewStateCacheSize="0" xslCacheSize="5MB" filteredItemsCacheSize="2MB"
            enablePreview="true" enableWebEdit="true" enableDebugger="true" disableClientData="true" database="web" />
     </sites>
    <linkManager>
      <strategies>
        <strategy name="products">
          <sites>
            <site name="ConsumerSite">ConsumerSite</site>
          </sites>
          <templates>
            <ConsumerSiteProductPage>{56617790-2D36-4160-BA84-F6E9A0EFFA01}</ConsumerSiteProductPage>
          </templates>
        </strategy>
        <strategy name="blog">
          <sites>
            <site>ConsumerSite</site>
          </sites>
          <templates>
            <ConsumerSiteBlogPage>{2A912DCD-ED25-4A9F-9C22-6592D4136CAE}</ConsumerSiteBlogPage>
          </templates>
        </strategy>
      </strategies>
    </linkManager>
  </sitecore>
</configuration>